<div id="contentBk" class="clearfix">
            <div id="content">
                <div class="topImg clearfix">
                    <%= image_tag("headers/header_1.jpg", :alt => "About Us") %>
                    <p>About <strong>Us</strong></p>
                </div>
                <div class="wrapper">
                    <div class="column c-67 clearfix">
                        <div class="box">
                            <h4>About Us :: </h4>
                            <div class="boxInfo">
                                <%= image_tag("other/welcome.jpg", :alt => "Welcome Img") %>
                                <div>
                                    <p>
              Global EDUTECH Trading &amp; Consulting Sdn Bhd() was established and incorporated since

(2013). GETC specialized in the event promotion, Short term Training programs, Students Recruitment

from Abroad, Seminars, Professional and Career training programs.
            </p>

            <p>
              GETC Provides career and academic counseling, planning, and advising to potential students

utilizing specific knowledge gained of the university colleges, educational programs and degrees.
            </p>
            <p>
              Serves independently as territorial manager to develop and maintain partnerships between the

  universities and students trend systems throughout the assigned terrain.
            </p>

           <p>
             Train and assists students recruiters networks globally in the process of advising students and

             families concerning admission requirements, financial aid and scholarships, alternative

             educational opportunities as case maybe, and university policies and procedures of any

             institution chosen by the student.
           </p>

     <p>
       Manages and coordinates community workshops, retreats, and recruitment efforts, arranges visits

       and tours for prospective students, guidance and parents where necessary.
     </p>

       <p>
         GETC Agency is one of the leading international student recruitment agencies in the world with

         over 20 years experience of consistently providing quality services to international students and

         an established brand name identical with professionalism and result oriented.
       </p>

       <p>
         GETC was established with a mission to bring world-class education closer to students coming

from developing countries. In its endeavor to promote education, GETC worked towards

bringing international education to the doorstep of the students. The trust of GETC is mainly

directed to qualified students in the developing and third world nations to pursue their higher

education in the fields of Arts, Humanities, Sciences and Technology from North Africa, West

Africa, Middle-East and fix them to other European colleges and universities, which have the

best educational facilities and infrastructure while our focus remain heavily in Malaysia.
       </p>

       <p>
         Our extensive portfolio of College and University partners includes over 50 of the most

prestigious education institutions in Malaysia, Australia, UK, Canada, United States, UAC

Emirate, Saudi Arebia, and Singapore. With over 5000 course choices in Vocational Education

and Training (VET), Higher Education (HE) and English Language courses (ELICOS) we have

something for everybody and remain focus to make our students smile.
       </p>


                                </div>
                            </div>
                        </div>
                        </div>



                        <div class="searchCourse column c-33 clearfix">
                        <p>Our Mission</p>
                        <form>
                            <h6>GETC was established with a mission to assist prospective students in finding the best available educational opportunities that will broaden their knowledge and provide them with the special skills required for the career they aspire …</h6>
                        </form>
                    </div>




                <div class="column c-67 clearfix">
                    <div class="box">
                            <h4>GOALS AND STRATEGIC PROCESS :: </h4>
                            <div class="boxInfo">
                                <%= image_tag("other/welcome.jpg", :alt => "Welcome Img") %>
                                <div>
                                    <p><strong>Global EduTech Trading & Consulting</strong> aims to assist students with their plans for higher education in many different countries.
                        </p>
                        <p>We offer the following Services:</p> <br>
                            <p>University/College Admissions</p>
                            <p>Visa Guidance</p>
                        <p><strong>We also try and cater to:</strong></p>
                        
                            <p>Offer of departure briefing
                            <p>Arrange meetings between students going to the same university
                            <p>Assist visits to schools and other places when representatives of the Universities and Colleges are here, plus facilitate their meeting with parents of prospective students.
                        
                                    </div>
                            </div>
                        </div>
                </div>
                    <!-- <div class="searchCourse column c-33 clearfix">
                        <p>Search Course</p>
                        <form>
                            <select class="focus input">
                                <option>Course Name</option>
                                <option>Business Law</option>
                                <option>Cost Accounting</option>
                                <option>Auditing</option>
                                <option>Micro Application</option>
                            </select>
                            <input class="focus input" type="text" value=" Fill your keywords" />
                            <select class="focus input">
                                <option>Course Length</option>
                                <option>One year</option>
                                <option>Two years</option>
                                <option>Three years</option>
                            </select>
                            <select class="focus input">
                                <option>Select Nearest College Location</option>
                                <option>Mobile Campus</option>
                                <option>Little Rock Campus</option>
                                <option>Orlando Campus</option>
                                <option>Honolulu Campus</option>
                            </select>
                            <input class="submit" type="submit" value="Search"/>
                        </form>
                    </div> -->

                    <div class="clear"></div>

                    <!-- <div class="column c-33 clearfix">
                        <div class="box">
                            <h4>Principal:<strong>  Jasson Wilss</strong></h4>
                            <div class="boxInfo">
                                <img class="fwidth" src="img/professors/p1.jpg" alt="">
                                <h6>Maths professor</h6>
                                <p>Lorem ipsum doloreiusmod tempor dolorei doloreiusmod tempor usmod tempordolor eiusmod tempor...</p>
                            </div>
                        </div>
                    </div>
                    <div class="column c-33 clearfix">
                        <div class="box">
                            <h4>Professor:<strong>  Jasson Wilss</strong></h4>
                            <div class="boxInfo">
                                <img class="fwidth" src="img/professors/p2.jpg" alt="">
                                <h6>Chemestry professor</h6>
                                <p>Lorem ipsum doloreiusmod tempor dolorei doloreiusmod tempor usmod tempordolor eiusmod tempor...</p>
                            </div>
                        </div>
                    </div>
                    <div class="column c-33 clearfix">
                        <div class="box">
                            <h4>Professor:<strong>  Jasson Wilss</strong></h4>
                            <div class="boxInfo">
                                <img class="fwidth" src="img/professors/p3.jpg" alt="">
                                <h6>Communication professor</h6>
                                <p>Lorem ipsum doloreiusmod tempor dolorei doloreiusmod tempor usmod tempordolor eiusmod tempor...</p>
                            </div>
                        </div>
                    </div> -->
                </div>


            </div>
        </div>