<div id="contentBk" class="clearfix">
            <div id="content">
                <div class="topImg clearfix">
                    <%= image_tag("headers/header_1.jpg", :alt => "About Us") %>
                    <p>Contact <strong>Us</strong></p>
                </div>
                <div class="wrapper">
                    <div class="column c-67 clearfix">
                        <div class="box">
                            <h4><strong>Contact</strong> Us</h4>
                            <div class="boxInfo"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.6647229437835!2d101.6792460140604!3d3.1825954976827258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4872f57c698d%3A0xf179c2712e06633c!2sTan+Kim+San+%26+Sons+Sdn.+Bhd.!5e0!3m2!1sen!2smy!4v1482821795972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="column c-33 last  clearfix">
                        <div class="box contactUs">
                            <h4><span>We are here</span></h4>
                            <div class="boxInfo">
                                <p>Lorem ipsum doloreiusmod tempor dolorei doloreiusmod tempor usmod tempordolor eiusmod tempor...</p>
                                <p>#02-02, 2nd floor Wisma Tan Kim San,<br> No. 518A, 3rd Mile Jalan Ipoh <br>Kuala Lumpur, 52100, Malaysia <br><br><strong><a href="#">netguru@netguru.com</a><br> +603 404 20004</strong></p>
                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="column c-67 clearfix">
                        <div class="box contactUs ">
                            <h4><span>Get in touch</span></h4>
                                <div class="boxInfo contactForm">
                                    <form id="contact">
                                        <div>
                                            <label>Name:</label>
                                            <input id="contactName"type="text"/>
                                        </div>
                                        <div>
                                            <label>Email:</label>
                                            <input id="contactMail" type="text"/>
                                        </div>
                                        <div>
                                            <label>Message:</label>
                                            <textarea id="contactMessage" type="text"></textarea>
                                        </div>
                                        <div>
                                        <input id="contactSubmit" class="submit" type="submit" value="Submit"/>
                                    </div>
                                </form>
                                <p id="contactSuccess" class="hidden">Your message was successfuly sent! Expect to hear from us within 24 hours.</p>
                                <p id="contactError" class="hidden">Please complete all the required fields properly!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>