


<div id="contentBk" class="clearfix">
            <div id="content">
                <div class="topImg clearfix">
                    <%= image_tag("headers/header_1.jpg", :alt => "About Us") %>
                    <p>Contact <strong>Us</strong></p>
                </div>
                <div class="wrapper">
                    <div class="boxInfo contactForm">
                     <h1>New Level</h1>

					<%= render 'form', level: @level, id:'contact' %>

					<%= link_to 'Back', levels_path %>
   		    	
   		    	</div>                    
                
            <div class="clear"></div>

                    
            </div>
        </div>
    </div>




