<div id="contentBk" class="clearfix">
            <div id="content">
                <div class="topImg clearfix">
                    <%= image_tag("headers/header_1.jpg", :alt => "About Us") %>
                    <p>Contact <strong>Us</strong></p>
                </div>
                <div class="wrapper">
                    
                                        <h1>New Course</h1>

											<%= render 'form', course: @course %>

											<%= link_to 'Back', courses_path %>
       		                        
                
                <div class="clear"></div>

                    
                </div>
            </div>
        </div>




